
<div class="comment-block">
	<%@vote_comment = parent %>
	<%comment_votes = parent.votes%>
	<%comment_upvotes = comment_votes.select{|vote| vote.value == 1 }%>
	<%comment_downvotes = comment_votes.select{|vote| vote.value == -1 }%>
	<%@c_karma = (comment_upvotes.count - comment_downvotes.count)%>
	<div class="vote-holder">
		<form action= "/votes" method="POST">
			<input type="hidden"
			name="authenticity_token"
			value="<%=form_authenticity_token%>">
		
		<%= render partial: "votes/vote", :locals => { :subreddit => @subreddit } %>
		</form>
	</div>
<% parent_user = User.find(parent.user_id) %>
<div class="username comment">
 <%= link_to parent_user.username, user_url(parent_user) %>: <%= parent.body%><br>
</div>
<div class="comment-body">
	<form action="/comments" method="post">
	
		<input type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>">
	
		<input type="hidden"
		name="comment[parent_comment_id]"
		id="parent_comment_id"
		value="<%= parent.id %>">
	
		<input type="hidden"
		name="comment[link_id]"
		id="link_id"
		value="<%= @link.id %>">

		<label for="body"></label>
	  <textarea
	     id="body"
	     name="comment[body]"
		 placeholder="Your comment here"></textarea>
	  <input type="submit" value="submit" class="btn btn-primary btn-comment">

	</form>
</div>
	<ul>
	<% children.each do |comment, value| %>
	<li class="sub-comment">
 	<%= render partial: "comments/comment", :locals => { parent: comment, children: comment.comments }%> 
	</li>
	<br>
	<%end%>
	</ul>
</div>