
<div class="comment-block col-xs-9">
	<%@vote_comment = parent %>
	<%comment_votes = parent.votes%>
	<%comment_upvotes = comment_votes.select{|vote| vote.value == 1 }%>
	<%comment_downvotes = comment_votes.select{|vote| vote.value == -1 }%>
	<%@c_karma = (comment_upvotes.count - comment_downvotes.count)%>
	<div class="col-xs-1">
	<form action= "/votes" method="POST">
		<input type="hidden"
		name="authenticity_token"
		value="<%=form_authenticity_token%>">
		
	<%= render partial: "votes/vote", :locals => { :subreddit => @subreddit } %>
	</form>
	</div>
	<spacer class="col-xs-1">
		</spacer>
<% parent_user = User.find(parent.user_id) %>
 <%= link_to parent_user.username, user_url(parent_user) %>: <%= parent.body%><br>
	<spacer class="col-xs-1">
		</spacer>
	<div class="form-hidden">
	<form action="/comments" method="post">
	
		<input type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>">
	
		<input type="hidden"
		name="comment[parent_comment_id]"
		id="parent_comment_id"
		value="<%= parent.id %>">
	
		<input type="hidden"
		name="comment[link_id]"
		id="link_id"
		value="<%= @link.id %>">
		
		<label for="body"></label>
	  <textarea
	     id="body"
	     name="comment[body]"
		 placeholder="Your comment here"></textarea>

	  <input type="submit" value="submit" class="btn btn-primary">
	</form>

</div>
	<% children.each do |comment, value| %>
	<br>
	<div class="row-xs-7">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 	<%= render partial: "comments/comment", :locals => { parent: comment, children: comment.comments }%> 
	</div>
	<br>
	<%end%>
</div>