<div class="comment-section">
	
	<%@vote_link = nil %>
	<%@vote_comment = comment %>
	<%comment_votes = comment.votes%>
	<%comment_upvotes = comment_votes.select{|vote| vote.value == 1 }%>
	<%comment_downvotes = comment_votes.select{|vote| vote.value == -1 }%>
	<%@c_karma = (comment_upvotes.count - comment_downvotes.count)%>
	<form action= "/votes" method="POST">
		<input type="hidden"
		name="authenticity_token"
		value="<%=form_authenticity_token%>">
		
	<%= render partial: "vote" %>
	</form>

<% user = User.find(comment.user_id) %>
<%=link_to user.username, user_url(user)%>: <%=comment.body%>
<div class="form-hidden">
<form action="/comments" method="post">

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

	<input type="hidden"
	name="comment[parent_comment_id]"
	id="parent_comment_id"
	value="<%= comment.id %>">

	<input type="hidden"
	name="comment[link_id]"
	id="link_id"
	value="<%= @link.id %>">
	
	<label for="body"></label>
  <textarea
     id="body"
     name="comment[body]"
	 placeholder="Your comment here"></textarea>

  <input type="submit" value="submit" class="btn btn-primary">
</form>
</div>