
<div class="comment-block">
<%= render partial: "vote" %>
<% parent_user = User.find(parent.user_id) %>
 <%= link_to parent_user.username, user_url(parent_user) %>: <%= parent.body%><br>
	
	<div class="form-hidden">
	<form action="/comments" method="post">
	
		<input type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>">
	
		<input type="hidden"
		name="comment[parent_comment_id]"
		id="parent_comment_id"
		value="<%= parent.id %>">
	
		<input type="hidden"
		name="comment[link_id]"
		id="link_id"
		value="<%= @link.id %>">
		
		<label for="body"></label>
	  <textarea
	     id="body"
	     name="comment[body]"
		 placeholder="Your comment here"></textarea>

	  <input type="submit" value="submit" class="btn btn-primary">
	</form>

</div>
<ul>
	<% children.each do |comment, value| %>
	<br>
	<li> <%= render partial: "comment", :locals => { parent: comment, children: comment.comments }%> </li> 
	<br>
	<%end%>
</ul>
</div>