<div class="comment-section">
<%= render partial: "vote" %>
<% user = User.find(ronin_comment.user_id) %>
<%=link_to user.username, user_url(user)%>: <%=ronin_comment.body%>
<div class="form-hidden">
<form action="/comments" method="post">

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

	<input type="hidden"
	name="comment[parent_comment_id]"
	id="parent_comment_id"
	value="<%= ronin_comment.id %>">

	<input type="hidden"
	name="comment[link_id]"
	id="link_id"
	value="<%= @link.id %>">
	
	<label for="body"></label>
  <textarea
     id="body"
     name="comment[body]"
	 placeholder="Your comment here"></textarea>

  <input type="submit" value="submit" class="btn btn-primary">
</form>
</div>