<div class="comment-section">
	<div class="row">
	<div class="col-xs-1">
	<%=button_to "upvote", "http://www.google.com"%>
			<div class="score">100</div>
	<%=button_to "downvote", "http://www.google.com"%>
	</div>
<%="#{User.find(ronin_comment.user_id).username}"+ ": " %><%=ronin_comment.body%>
<div class="form-hidden">
<form action="/comments" method="post">

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

	<input type="hidden"
	name="comment[parent_comment_id]"
	id="parent_comment_id"
	value="<%= ronin_comment.id %>">

	<input type="hidden"
	name="comment[link_id]"
	id="link_id"
	value="<%= @link.id %>">
	
	<label for="body"></label>
  <textarea
     id="body"
     name="comment[body]"
	 placeholder="Your comment here"></textarea>

  <input type="submit" value="submit" class="btn btn-primary">
</form>
</div>