<h3> Submitting to Kreddit </h3>

<% @subreddits = Subreddit.all %>
<% if !!current_user %>

	<form action="/links" method="post" enctype="multipart/form-data">
	
		<input type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>">

	  <label for="description">Description</label>
	  <input
	     id="description"
	     name="link[description]"
		 value="A New GIF"
	     type="text">

	<br>	
	<h4> Choose up to three Subreddits </h4>
	<select name="link[subreddit_ids][1]">
		<option></option>
	<% @subreddits.each do |subreddit| %>
		  	
		  <option value="<%= subreddit.id %>"><%=subreddit.title%></option>
	<% end %>
	</select>
	<select name="link[subreddit_ids][2]">
		<option></option>
	<% @subreddits.each do |subreddit| %>
		  	
		  <option value="<%= subreddit.id %>"><%=subreddit.title%></option>
	<% end %>
	</select>
	<select name="link[subreddit_ids][3]">
		<option></option>
	<% @subreddits.each do |subreddit| %>
		  	
		  <option value="<%= subreddit.id %>"><%=subreddit.title%></option>
	<% end %>
	</select>
	
<h2> Photo Content: </h3>
	  <label for="link_url">Url:</label>
	  <input
	     id="url"
	     name="link[url]"
	     type="text">
	  <br>
	<h1> OR </h1>
		<label for="avatar">Upload photo:</label>
		<input type="file" name="link[avatar]" id="avatar"><br>

		<br>
		</div>

	  <input type="submit" value="Create Link" class="btn btn-primary">
	
	</form>

<% else %>
	<div class="text"> <%=link_to "Sign in", new_session_url %> to add a link </div>
<% end %>