
<div class="col-xs-1">
	<div class="vote">
		
	<form action= "/votes" method="POST">
	<input type="hidden"
	name="authenticity_token"
	value="<%=form_authenticity_token%>">
	
	<%= render partial: "upvote" %>
	</form>
	
		<%if !!@comment_karma %>
			<div class="score"><%= @comment_karma %></div>
		<% else %>
			<div class="score"><%= @link_karma %></div>
		<% end %>
		
	<form action= "/votes" method="POST">
	<input type="hidden"
	name="authenticity_token"
	value="<%=form_authenticity_token%>">
	
	<%= render partial: "downvote" %>
		</form>
	</div>
</div>

