<h1> Front Page </h1>
<div id='content'>

	<% @links.each do |link| %>
	<% comment_count = link.comments.length %>
	<% submitting_user = User.find(link.user_id) %>
	<% votes = link.votes %>
	<% upvotes = votes.select{ |vte| vte.value == 1 } %>
	<% downvotes = votes.select{ |vte| vte.value == -1 } %>
	<% @link_karma = (upvotes.count - downvotes.count) %>
	<% @tmp_comment = nil%>
	<div class="row">
		
		<%@vote_link = link%>
		<%@comment = nil %>
		<form action= "/votes" method="POST">
			<input type="hidden"
			name="authenticity_token"
			value="<%=form_authenticity_token%>">
			
		<%= render partial: "vote" %>
		</form>
		
		<spacer class="col-xs-1">
		</spacer>
		<div class="col-xs-1">
			<%= image_tag link.avatar.url(:thumb) %>
		</div>
		<div class = "col-xs-5">
			<div>
			<% if link.avatar.url == "https://cdn3.iconfinder.com/data/icons/umar/Reddit.png" %>
				<%=link_to link.description,  link.url %>
			<% else %>
				<%=link_to link.description, link.avatar.url %>
			<% end %>
			</div>
			<div>
			<%=link_to "#{comment_count} " + "comments", link_url(link) %>
			</div>
			<div>
			Submitted by: <%=link_to submitting_user.username, user_url(submitting_user) %>
			<%= ((Time.now - link.created_at)/3600).round %> hours ago
			</div>
		</div>
	</div>
	<br>
	<% end %>
<%= paginate @links %>

</div>
	<% if !!current_user %>
		<div class="text">
			<%= link_to "Add a link!", new_link_url %>
		</div>
	<% else %>
		<div class="text"> <%=link_to "Sign in", new_session_url %> to add a comment </div>
	<% end %>
	<br>
	
	
