<h1> Front Page </h1>

<div id='content'>
	<% @links.each do |link| %>
	<% comment_count = link.comments.length %>
	<div class="row">
		<div class="col-xs-5">
		<%=button_to "upvote", "http://www.google.com"%>
				<div class="score">100</div>
		<%=button_to "downvote", "http://www.google.com"%>
		</div>
		
		<div class = "col-xs-5">
			<div>
			<%=link_to link.description,  link.url %>
			</div>
			<div>
			<%=link_to "#{comment_count} " + "comments", link_url(link) %>
			</div>
		</div>
	</div>
	<br>
	<% end %>


</div>

<div>
	<%= link_to "Add a link!", new_link_url %>
	</div>
