<h1> Front Page </h1>

<div id='content'>
	<% @links.each do |link| %>
	<% comment_count = link.comments.length %>
	<% submitting_user = User.find(link.user_id) %>
	<div class="row">
		<%= render partial: "vote" %>
		<div class = "col-xs-5">
			<div>
			<%=link_to link.description,  link.url %>
			</div>
			<div>
			<%=link_to "#{comment_count} " + "comments", link_url(link) %>
			</div>
			<div>
			Submitted by: <%=link_to submitting_user.username, user_url(submitting_user) %>
			Submitted <%= ((Time.now - link.created_at)/3600).round %> hours ago
			</div>
		</div>
	</div>
	<br>
	<% end %>


</div>
	<% if !!current_user %>
		<div class="text">
			<%= link_to "Add a link!", new_link_url %>
		</div>
	<% else %>
		<div class="text"> <%=link_to "Sign in", new_session_url %> to add a comment </div>
	<% end %>
