<h1> <%=link_to @link.description, @link.url %></h1>
<ul>
	
<% @comment_hash.each do |parent_comment, children_array| %>
	<% if !children_array || children_array.empty? %>
	<%= render partial: "lonely", locals: { ronin_comment: parent_comment } %>
 	<% elsif !children_array.empty? %>
   	<%= render partial: "comment", locals: { parent: parent_comment, children: children_array } %>
	<% end %>
<% end %>
	
</ul>
<br>

<% if !!current_user %>
	<div class="form-input">
	<form action="/comments" method="post">
	
		<input type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>">
	
		<input type="hidden"
		name="comment[link_id]"
		id="link_id"
		value="<%= @link.id %>">

	  <label for="body"></label>
	  <textarea
	     id="body"
	     name="comment[body]"
		 placeholder="Your comment here"></textarea>
	  <br>
		<br>
	  <input type="submit" value="submit" class="btn btn-primary">
	</form>

	</div>
<% else %>
	<div class="text"> <%=link_to "Sign in", new_session_url %> to add a comment </div>
<% end %>






