
<div class="col-xs-1">
	<div class="vote">
	<form action= "/votes" method="POST">
	<input type="hidden"
	name="authenticity_token"
	value="<%=form_authenticity_token%>">
	
	<%= render partial: "votes/upvote" %>
	</form>
	
		<%if !!@c_karma %>
			<div class="score"><%= @c_karma %></div>
		<% else %>
			<div class="score "><%= @link_karma %></div>
		<% end %>
	
		<form action= "/votes" method="POST">
		<input type="hidden"
		name="authenticity_token"
		value="<%=form_authenticity_token%>">
	
	<%= render partial: "votes/downvote" %>
	

	
		</form>
	</div>
</div>

