<!DOCTYPE html>
<html>


<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<script>
	$(document).ready(function(){
		$(".link-box").click(function(){
		   document.cookie = $(this).offset().top;
		});
	});
	console.log(document.cookie)
	$("html").scrollTop(document.cookie);
	
	</script>
	<script type="text/javascript" charset="utf-8">
	$(function () {
		that = $('.nav-sidebar');
		var targetDiv = $(".sidebar-favorites");
		that.on('click', 'li', function (event) {
			var action = $(event.currentTarget).data('action');
			RedditApp.router[action](targetDiv);
		});
	});
	</script>
	<script>
	$(document).ready(function(){
		var that = this;
		$.ajax({
			type: "GET",
			url: "/user_links",
			success: function (data) {
				$(data).each(function(index, userLink){
					$.ajax({
						type: "GET",
						url: "/links/" + userLink['link_id'],
						success: function (linkData){
							debugger
							console.log("successfully fetched linkdata");
							$(".button-holder[data-id="+ userLink['link_id'] +"]").html(
								"<div class='unwatch-button btn btn-primary' data-id="+ userLink['link_id'] +" data-thumb="+linkData["avatar['thumb']"]+" data-description="+ linkData['description'] +">Unwatch</div>"
							);
							$(".watched-posts").append(
								"<div class='image-holder' data-id=" + userLink['link_id'] +"><img data-id=" + userLink['link_id'] +" src="+ linkData["avatar"] +">"+linkData['description']+"</img></div>"
							);
						},
						error: function(){
							console.log("couldnt fetch linkdata");
							$(".button-holder[data-id="+ userLink['link_id'] +"]").html(
								"<div class='watch-button btn btn-primary' data-id="+ userLink['link_id'] +">Watch</div>"
								);
						}
					});
				});
			}
		});
		
		var checkElt = function(elt, inputId){
			var children = $(elt.children());
			var flag = true;
			children.each(function(index, child){
				if($(child).data("id") == inputId){
					flag = false;
				};
			});
			console.log(flag);
			return flag;
		};
		
		$(".watch-button").click(function(event){
			var that = $(event.target);
			console.log("using 'watch' button event");
			if(checkElt($(".watched-posts"), that.data("id"))){
				$(".watched-posts").append(
					"<div class='image-holder' data-id=" + that.data("id") +"><img data-id=" + that.data("id") +" src="+ that.data("avatar") +">"+that.data('description')+"</img></div>"
					);
				that.removeClass('watch-button').addClass('unwatch-button');
				that.html('Unwatch');
				console.log("beginning AJAX creation...");
				console.log(that.data("id"));
				$.ajax({
					type: "POST",
					url: "/user_links",
					data: {
						user_link: {
							link_id: that.data("id"),
							user_id: null
						}
					},
					success: function(){
						console.log("CREATED A JOIN TABLE ENTRY");
					}
				});
			};
		});
		
		$(".unwatch-button").click(function(event){
			var that = $(event.target);
			console.log(that);
			console.log("using 'unwatch' button event")
			if(!checkElt($(".watched-posts"), that.data("id"))){
				console.log("removing...");
				console.log($("div[data-id=" + that.data("id") + "]"));
				$(".image-holder[data-id=" + that.data("id") + "]").remove();
				that.removeClass('unwatch-button').addClass('watch-button');
				that.html('Watch');
				console.log("trying AJAX delete...")
					$.ajax({
						type: "DELETE",
						url: "/user_link",
						data: {
							user_link: {
							link_id: that.data("id"),
							user_id: null
							}
						},
						success: function(){
							console.log("DELETED A JOIN TABLE ENTRY");
						}
					});
			};
		});	
		
	});
	</script>

</head>
<header>
	<% @top_subreddits = Subreddit.all%>

		<ul class="nav nav-pills">
		<% @top_subreddits.each do |subreddit| %>
		<li>
		<%= link_to subreddit.title, subreddit_url(subreddit) %>
		</li>	
		<% end %>
		<div class="navbar navbar-right">
		<% if !!current_user %>
		    <b>Logged in as: <%=link_to current_user.username, user_url(current_user) %></b>
		    <b><%= button_to "Logout", session_url, :method => :delete %></b
		<%else%>
			<b><%= link_to "Sign In", new_session_url %></b>
			<b><%= link_to "Sign Up", new_user_url %></b>
		<% end %>
		</nav>	

</header>

<body>
<div class="container">
	<div class="row">

		<div class="col-lg-9">
			<div class="panel">
				<%= yield %>
			</div>
		</div>
	
		<div class="col col-lg-2 sidebar-replace">
			<div class="list-group">
			<%= render "subreddits/sidebarContent" %>
			</div>
		</div>
	</div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="col col-lg-1">
		<div class="list-group">
		<%= render "sidebars/subreddit" %>
		</div>
	</div>
	<div class="watched-posts">
		</div>
</div>
</body>

</html>
