<!DOCTYPE html>
<html>


<head>
  <title>Kreddit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<script>
	$(document).ready(function(){
		$(".link-box").click(function(){
		   document.cookie = $(this).offset().top;
		});
	});
	console.log(document.cookie);
	$("html").scrollTop(document.cookie);
	
	</script>
	<script type="text/javascript" charset="utf-8">
	$(function () {
		that = $('.nav-sidebar');
		var targetDiv = $(".sidebar-favorites");
		that.on('click', 'li', function (event) {
			var action = $(event.currentTarget).data('action');
			RedditApp.router[action](targetDiv);
		});
	});
	</script>
	<script>
	$(document).ready(function(){
		
		$.ajax({
			url: "/user_links",
			success: function(data){
				data.forEach(function(userLinkData, index){
					$.ajax({
						type: "GET",
						url: "/links/" + userLinkData["link_id"],
						success: function (linkData){
								$(".watch-button[data-link-id="+ userLinkData["link_id"] +"]")
								.addClass("unwatch-button btn btn-primary")
								.removeClass("watch-button")
								.text("Unwatch")
								.attr('data-ul-id', userLinkData["id"]);
								$(".watched-posts").append(
									"<div class='thumbnail-holder' data-link-id=" + userLinkData["link_id"] +"><div class='watched-post' data-link-id=" + userLinkData["link_id"] +"><a href=/links/" + userLinkData["link_id"] + ">"+ linkData["description"].slice(0,16) +"... </a></img></div>"
									);
								}
						})
					})
				}
			});
			
		$("body").on("click", ".watch-button", function(event){
			event.preventDefault();
			var clickedButton = $(event.target);
			var userlinkLinkId = clickedButton.data("link-id");
			$.ajax({
				type: 'post',
				url: '/user_links',
				data: { user_link: {
					 link_id: userlinkLinkId }
					},
				success: function(data){
					console.log(data["id"] + " posted");
					clickedButton.addClass("unwatch-button")
					.removeClass("watch-button")
					.text("Unwatch")
					.attr("data-ul-id", data["id"]);
					
					$(".watched-posts").append(
						"<div class='thumbnail-holder' data-link-id=" + userlinkLinkId +"><div class='watched-post' data-link-id=" + userlinkLinkId +"><a href=/links/" + userlinkLinkId + " >"+ clickedButton.data("description") +"... </a></div>"
						);
				}
			});
		});
		
		$("body").on("click", ".unwatch-button", function(event){
			event.preventDefault();
			var clickedButton = $(event.target);
			var userlinkid = clickedButton.attr("data-ul-id");
			console.log(userlinkid);
			$.ajax({
				type: 'delete',
				url: '/user_links/' + userlinkid,
				success: function(){
					console.log("deleted!");
					clickedButton.addClass("watch-button")
					.removeClass("unwatch-button")
					.text("Watch");
					$(".thumbnail-holder[data-link-id=" + clickedButton.attr("data-link-id") +"]").remove();
				}
			});
		});
		
	
	});
	</script>
	

</head>


<header>
	<div class="navbar-top-fixed">
		<font size="100"> Kreddit </font> 
	</div>
	<% @top_subreddits = Subreddit.all%>

		<ul class="nav nav-pills">
		<% @top_subreddits.each do |subreddit| %>
		<li>
		<a href="<%=subreddit_url(subreddit) %>"><%=subreddit.title%></a>
		</li>	
		<% end %>
		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
	<li><div class="navbar">
		<% if !!current_user %>
		<div>
		    <b>Logged in as: <%=link_to current_user.username, user_url(current_user) %></b>
			<%= button_to "Logout", session_url, :method => :delete %>
		</div>
		<% end %>
		</div></li>
		</ul>	

</header>

<body>
	<div class="container display-inline-block">
		<div class="col col-md-9">
			<%= yield %>
		</div>

		<div class="col col-md-2 sidebar-replace">
			<div class="list-group">
				<%= render "subreddits/sidebarContent" %>
			</div>
		</div>
		
		<div class="watched-posts navbar navbar-fixed-left col col-md-1">
			<div class="watched-post-title display-inline-block">Watched Posts: </div>
		</div>
	</div>
</body>

</html>
