<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<script>
	$(document).ready(function(){
		$(".link-box").click(function(){
		   document.cookie = $(this).offset().top;
		});
	});
	console.log(document.cookie)
	$("html").scrollTop(document.cookie);
	
	</script>
	
	<script>
	$(document).ready(function(){
		
		var checkElt = function(elt, inputId){
			var children = $(elt.children());
			var flag = true;
			children.each(function(index, child){
				console.log($(child).data("id"));
				console.log(inputId);
				if($(child).data("id") == inputId){
					flag = false;
				};
			});
			return flag;
		};
		
		$(".watch-button").click(function(event){
			var that = $(event.target);
			if(!checkElt($(".watched-posts"), that.data("id"))){
				console.log("removing...");
				$(".watched-post[data-id=" + that.data("id") + "]").remove();
			} else {
				console.log("appending...");
				$(".watched-posts").append(
					"<div class='watched-post btn btn-default' data-id="+ that.data("id") +"> " + that.data("description") + " </div>");
			}



		});
	});
	</script>

</head>
<header>
	<% @top_subreddits = Subreddit.all%>

		<ul class="nav nav-pills">
		<% @top_subreddits.each do |subreddit| %>
		<li>
		<%= link_to subreddit.title, subreddit_url(subreddit) %>
		</li>	
		<% end %>
		<div class="navbar navbar-right">
		<% if !!current_user %>
		    <b>Logged in as: <%=link_to current_user.username, user_url(current_user) %></b>
		    <b><%= button_to "Logout", session_url, :method => :delete %></b
		<%else%>
			<b><%= link_to "Sign In", new_session_url %></b>
			<b><%= link_to "Sign Up", new_user_url %></b>
		<% end %>
		</nav>	

</header>

<body>
<div class="container">
	<div class="row">

		<div class="col-lg-9">
			<div class="panel">
		<%= yield %>
		</div>
		</div>
	
		<div class="col col-lg-2 sidebar-replace">
			<div class="list-group">
			<%= render "subreddits/sidebarContent" %>
			</div>
		</div>
	</div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="col col-lg-1">
		<div class="list-group">
		<%= render "sidebars/subreddit" %>
		</div>
	</div>
	<div class="watched-posts">
		</div>
</div>
</body>

</html>
