<!DOCTYPE html>
<html>


<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<script>
	$(document).ready(function(){
		$(".link-box").click(function(){
		   document.cookie = $(this).offset().top;
		});
	});
	console.log(document.cookie)
	$("html").scrollTop(document.cookie);
	
	</script>
	<script type="text/javascript" charset="utf-8">
	$(function () {
		that = $('.nav-sidebar');
		var targetDiv = $(".sidebar-favorites");
		that.on('click', 'li', function (event) {
			var action = $(event.currentTarget).data('action');
			RedditApp.router[action](targetDiv);
		});
	});
	</script>
	<script>
	$(document).ready(function(){
		
		$(".button-holder").each(function(index, link_button){
			var that = $($(link_button).children()[0]);
			$.ajax({
				type: "GET",
				url: "/user_links/" + that["link_id"],
				success: function (data) {
					$(that).addClass("unwatch-button btn btn-primary").removeClass("watch-button").text("Unwatch");
				},
				error: function (){
					console.log("record is not in the database of watched posts");
				}
			})
		});
		
		$("body").on("click", ".watch-button", function(event){
			console.log("using 'watch' button event");
			var that = $(event.target);
			$(".watched-posts").append(
				"<div class='image-holder' data-id=" + that.data("id") +"><img data-id=" + that.data("id") +" src="+ that.data("avatar") +">"+that.data('description')+"</img></div>"
				);
			that.removeClass('watch-button').addClass('unwatch-button').text('Unwatch');
			console.log("beginning AJAX creation...");
			$.ajax({
				type: "POST",
				url: "/user_links",
				data: {
					user_link: {
						link_id: that.data("id"),
						user_id: null
					}
				},
				success: function(){
					console.log("CREATED A JOIN TABLE ENTRY");
				}
			});
		});
		
		$("body").on("click", ".unwatch-button", function(event){
			var that = $(event.target);
			console.log("using 'unwatch' button event")
			$(".image-holder[data-id=" + that.data("id") + "]").remove();
			that.removeClass('unwatch-button').addClass('watch-button');
			that.text('Watch');
			console.log("trying AJAX delete...")
			$.ajax({
				type: "DELETE",
				url: "/user_link",
				data: {
					user_link: {
						link_id: that.data("id"),
						user_id: null
					}
				},
				success: function(){
					console.log("DELETED A JOIN TABLE ENTRY");
				}
			});
		});	
		
	});
	</script>

</head>
<header>
	<% @top_subreddits = Subreddit.all%>

		<ul class="nav nav-pills">
		<% @top_subreddits.each do |subreddit| %>
		<li>
		<%= link_to subreddit.title, subreddit_url(subreddit) %>
		</li>	
		<% end %>
		<div class="navbar navbar-right">
		<% if !!current_user %>
		    <b>Logged in as: <%=link_to current_user.username, user_url(current_user) %></b>
		    <b><%= button_to "Logout", session_url, :method => :delete %></b
		<%else%>
			<b><%= link_to "Sign In", new_session_url %></b>
			<b><%= link_to "Sign Up", new_user_url %></b>
		<% end %>
		</nav>	

</header>

<body>
<div class="container">
	<div class="row">

		<div class="col-lg-9">
			<div class="panel">
				<%= yield %>
			</div>
		</div>
	
		<div class="col col-lg-2 sidebar-replace">
			<div class="list-group">
			<%= render "subreddits/sidebarContent" %>
			</div>
		</div>
	</div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="col col-lg-1">
		<div class="list-group">
		<%= render "sidebars/subreddit" %>
		</div>
	</div>
	<div class="watched-posts">
		</div>
</div>
</body>

</html>
